{% extends 'layoutAdmin.html.twig' %}

{% block title %}Création d'une annonce{% endblock %}

{% block body %}
<div class="container mt-3">
    <h1>Créer une annonce</h1>

    {{ include('annonce/_form.html.twig') }}

    <a class="btn btn-outline-secondary mb-5" href="{{ path('annonce_admin_index') }}">Retour à la liste</a>
</div>
{% endblock %}
