{% extends 'base.html.twig' %}

{% block header %}
    {% include 'navbarAdmin.html.twig' %}
{% endblock %}
{% block body %}
    <div class="container mt-5">
        Bienvenue dans la partie administrateur {{ app.user.username }} !
    </div>
{% endblock %}