<!-- Header -->
<header id="header">
    <h1><a href="{{ path('index') }}">My Spot Admin</a></h1>
    <nav class="links">
        <ul>
            <li><a href="{{ path('annonce_admin_index') }}">Annonces</a></li>
        </ul>
    </nav>
    <nav>
        <ul>
            <li>
                <a class="mr-3" href="{{ path('security_logout')}}">Déconnexion</a>
            </li>
        </ul>
    </nav>
</header>